:root {
  --vinaydesignabbey: rgba(0, 0, 0, 1);
  --vinay-design-semantic-button-font-family: "Inter", Helvetica;
  --vinay-design-semantic-button-font-weight: 500;
  --vinay-design-semantic-button-font-size: 16px;
  --vinay-design-semantic-button-letter-spacing: -0.20000000298023224px;
  --vinay-design-semantic-button-line-height: normal;
  --vinay-design-semantic-button-font-style: normal;
  --vinay-design-semantic-heading-1-font-family: "Inter", Helvetica;
  --vinay-design-semantic-heading-1-font-weight: 400;
  --vinay-design-semantic-heading-1-font-size: 44px;
  --vinay-design-semantic-heading-1-letter-spacing: -0.8799999952316284px;
  --vinay-design-semantic-heading-1-line-height: 61.599998474121094px;
  --vinay-design-semantic-heading-1-font-style: normal;
  --vinay-design-semantic-heading-2-font-family: "Inter", Helvetica;
  --vinay-design-semantic-heading-2-font-weight: 400;
  --vinay-design-semantic-heading-2-font-size: 38px;
  --vinay-design-semantic-heading-2-letter-spacing: -0.7599999904632568px;
  --vinay-design-semantic-heading-2-line-height: 47.5px;
  --vinay-design-semantic-heading-2-font-style: normal;
  --vinay-design-semantic-link-font-family: "Inter", Helvetica;
  --vinay-design-semantic-link-font-weight: 400;
  --vinay-design-semantic-link-font-size: 20px;
  --vinay-design-semantic-link-letter-spacing: -0.20000000298023224px;
  --vinay-design-semantic-link-line-height: 30px;
  --vinay-design-semantic-link-font-style: normal;
  --vinay-design-semantic-link-title-font-family: "DM Mono", Helvetica;
  --vinay-design-semantic-link-title-font-weight: 500;
  --vinay-design-semantic-link-title-font-size: 15px;
  --vinay-design-semantic-link-title-letter-spacing: -0.20000000298023224px;
  --vinay-design-semantic-link-title-line-height: 22.5px;
  --vinay-design-semantic-link-title-font-style: normal;
  --vinay-design-DM-mono-medium-font-family: "DM Mono", Helvetica;
  --vinay-design-DM-mono-medium-font-weight: 500;
  --vinay-design-DM-mono-medium-font-size: 7.5px;
  --vinay-design-DM-mono-medium-letter-spacing: 0px;
  --vinay-design-DM-mono-medium-line-height: 7.5px;
  --vinay-design-DM-mono-medium-font-style: normal;
  --vinay-design-inter-regular-font-family: "Inter", Helvetica;
  --vinay-design-inter-regular-font-weight: 400;
  --vinay-design-inter-regular-font-size: 16px;
  --vinay-design-inter-regular-letter-spacing: -0.3199999928474426px;
  --vinay-design-inter-regular-line-height: 24px;
  --vinay-design-inter-regular-font-style: normal;
  --saschas-ai-inter-light-font-family: "Inter", Helvetica;
  --saschas-ai-inter-light-font-weight: 300;
  --saschas-ai-inter-light-font-size: 18px;
  --saschas-ai-inter-light-letter-spacing: 0px;
  --saschas-ai-inter-light-line-height: 30px;
  --saschas-ai-inter-light-font-style: normal;
  --saschas-ai-inter-regular-font-family: "Inter", Helvetica;
  --saschas-ai-inter-regular-font-weight: 400;
  --saschas-ai-inter-regular-font-size: 70px;
  --saschas-ai-inter-regular-letter-spacing: 0px;
  --saschas-ai-inter-regular-line-height: 76px;
  --saschas-ai-inter-regular-font-style: normal;
  --saschas-ai-inter-regular-underline-font-family: "Inter", Helvetica;
  --saschas-ai-inter-regular-underline-font-weight: 400;
  --saschas-ai-inter-regular-underline-font-size: 68.76953125px;
  --saschas-ai-inter-regular-underline-letter-spacing: 0px;
  --saschas-ai-inter-regular-underline-line-height: 76px;
  --saschas-ai-inter-regular-underline-font-style: normal;
  --saschas-ai-nunito-sans-light-font-family: "Nunito Sans", Helvetica;
  --saschas-ai-nunito-sans-light-font-weight: 300;
  --saschas-ai-nunito-sans-light-font-size: 18px;
  --saschas-ai-nunito-sans-light-letter-spacing: 0px;
  --saschas-ai-nunito-sans-light-line-height: 30px;
  --saschas-ai-nunito-sans-light-font-style: normal;
  --saschas-ai-nunito-sans-black-font-family: "Nunito Sans", Helvetica;
  --saschas-ai-nunito-sans-black-font-weight: 900;
  --saschas-ai-nunito-sans-black-font-size: 22px;
  --saschas-ai-nunito-sans-black-letter-spacing: 0px;
  --saschas-ai-nunito-sans-black-line-height: 36.65999984741211px;
  --saschas-ai-nunito-sans-black-font-style: normal;
  --saschas-ai-roboto-regular-font-family: "Roboto", Helvetica;
  --saschas-ai-roboto-regular-font-weight: 400;
  --saschas-ai-roboto-regular-font-size: 18px;
  --saschas-ai-roboto-regular-letter-spacing: 0px;
  --saschas-ai-roboto-regular-line-height: 23.399999618530273px;
  --saschas-ai-roboto-regular-font-style: normal;
  --saschas-ai-semantic-button-font-family: "Roboto", Helvetica;
  --saschas-ai-semantic-button-font-weight: 500;
  --saschas-ai-semantic-button-font-size: 14px;
  --saschas-ai-semantic-button-letter-spacing: 0px;
  --saschas-ai-semantic-button-line-height: 18.200000762939453px;
  --saschas-ai-semantic-button-font-style: normal;
  --saschas-ai-semantic-link-font-family: "Roboto", Helvetica;
  --saschas-ai-semantic-link-font-weight: 500;
  --saschas-ai-semantic-link-font-size: 16px;
  --saschas-ai-semantic-link-letter-spacing: 0px;
  --saschas-ai-semantic-link-line-height: 16px;
  --saschas-ai-semantic-link-font-style: normal;
  --www-ziel-works-geist-mono-bold-upper-font-family: "Geist Mono", Helvetica;
  --www-ziel-works-geist-mono-bold-upper-font-weight: 700;
  --www-ziel-works-geist-mono-bold-upper-font-size: 16px;
  --www-ziel-works-geist-mono-bold-upper-letter-spacing: 0px;
  --www-ziel-works-geist-mono-bold-upper-line-height: 24px;
  --www-ziel-works-geist-mono-bold-upper-font-style: normal;
  --www-ziel-works-inter-medium-font-family: "Inter", Helvetica;
  --www-ziel-works-inter-medium-font-weight: 500;
  --www-ziel-works-inter-medium-font-size: 14.875px;
  --www-ziel-works-inter-medium-letter-spacing: 0px;
  --www-ziel-works-inter-medium-line-height: 24px;
  --www-ziel-works-inter-medium-font-style: normal;
  --www-ziel-works-inter-regular-font-family: "Inter", Helvetica;
  --www-ziel-works-inter-regular-font-weight: 400;
  --www-ziel-works-inter-regular-font-size: 18px;
  --www-ziel-works-inter-regular-letter-spacing: 0px;
  --www-ziel-works-inter-regular-line-height: 28px;
  --www-ziel-works-inter-regular-font-style: normal;
  --www-ziel-works-semantic-heading-2-font-family: "Inter", Helvetica;
  --www-ziel-works-semantic-heading-2-font-weight: 500;
  --www-ziel-works-semantic-heading-2-font-size: 46.5px;
  --www-ziel-works-semantic-heading-2-letter-spacing: -2.4000000953674316px;
  --www-ziel-works-semantic-heading-2-line-height: 48px;
  --www-ziel-works-semantic-heading-2-font-style: normal;
  --www-ziel-works-semantic-heading-2-upper-font-family: "Inter", Helvetica;
  --www-ziel-works-semantic-heading-2-upper-font-weight: 400;
  --www-ziel-works-semantic-heading-2-upper-font-size: 14.375px;
  --www-ziel-works-semantic-heading-2-upper-letter-spacing: 0px;
  --www-ziel-works-semantic-heading-2-upper-line-height: 24px;
  --www-ziel-works-semantic-heading-2-upper-font-style: normal;
  --www-ziel-works-semantic-heading-3-font-family: "Inter", Helvetica;
  --www-ziel-works-semantic-heading-3-font-weight: 500;
  --www-ziel-works-semantic-heading-3-font-size: 46.875px;
  --www-ziel-works-semantic-heading-3-letter-spacing: -2.4000000953674316px;
  --www-ziel-works-semantic-heading-3-line-height: 48px;
  --www-ziel-works-semantic-heading-3-font-style: normal;
  --www-ziel-works-semantic-link-font-family: "Inter", Helvetica;
  --www-ziel-works-semantic-link-font-weight: 400;
  --www-ziel-works-semantic-link-font-size: 12.2890625px;
  --www-ziel-works-semantic-link-letter-spacing: 0.3499999940395355px;
  --www-ziel-works-semantic-link-line-height: 20px;
  --www-ziel-works-semantic-link-font-style: normal;
  --heading-desktop-h2-font-family: "Urbanist", Helvetica;
  --heading-desktop-h2-font-weight: 500;
  --heading-desktop-h2-font-size: 48px;
  --heading-desktop-h2-letter-spacing: -0.48px;
  --heading-desktop-h2-line-height: 120.00000476837158%;
  --heading-desktop-h2-font-style: normal;
  --nav-bar-text-21-font-family: "Poppins", Helvetica;
  --nav-bar-text-21-font-weight: 400;
  --nav-bar-text-21-font-size: 21px;
  --nav-bar-text-21-letter-spacing: 0.63px;
  --nav-bar-text-21-line-height: normal;
  --nav-bar-text-21-font-style: normal;
  --h2-65-font-family: "Poppins", Helvetica;
  --h2-65-font-weight: 600;
  --h2-65-font-size: 65px;
  --h2-65-letter-spacing: 1.95px;
  --h2-65-line-height: normal;
  --h2-65-font-style: normal;
  --small-heading-24-font-family: "Poppins", Helvetica;
  --small-heading-24-font-weight: 600;
  --small-heading-24-font-size: 24px;
  --small-heading-24-letter-spacing: 0.72px;
  --small-heading-24-line-height: normal;
  --small-heading-24-font-style: normal;
  --main-heading-h1-font-family: "Poppins", Helvetica;
  --main-heading-h1-font-weight: 700;
  --main-heading-h1-font-size: 100px;
  --main-heading-h1-letter-spacing: 3px;
  --main-heading-h1-line-height: 120.00000476837158%;
  --main-heading-h1-font-style: normal;
}
